
#nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align:justify;
    background-color: brown;
    padding: 10px;
}
	
#p {
    margin-left: 16px;
}
#nav p {
	display: inline;
}

#nav a {
	text-decoration: none;
	font-family: Cambria, serif;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.3em;
	color: white;
    display: inline;
}

#dropdown {
    background-color: brown;
}

#col4 {
    width: 30%;
    background-color: black;
    margin-left: 48px;
}

#col8 {
    padding-left: 0;
}
#note1 {
    color: white;
    font-size: large;
    padding: 20px;
}

#noteHeader {
    font-weight: bold;
    font-size: x-large;
    background-color: white;
    text-align-last: center;
    border-radius: 25px;
    color: black;
}

#paragraphs {
    margin: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

